In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [26]:
heart_dataset = pd.read_csv(r"C:\Users\dell\Downloads\third year units\heart.csv")

In [27]:
heart_dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [28]:
heart_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [29]:
heart_dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [30]:
heart_dataset.shape

(303, 14)

In [31]:
heart_dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [32]:
heart_dataset['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [33]:
grouped_means = heart_dataset.apply(pd.to_numeric, errors='coerce').groupby('target').mean()

In [34]:
x = heart_dataset.drop(columns=['target'],axis=1)
y = heart_dataset['target']

In [35]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [36]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [37]:
x_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3

In [38]:
x_train.shape

(242, 13)

In [39]:
x_test.shape

(61, 13)

In [40]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC  # Or LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report


feature_names = [
    'age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']
# Example Synthetic Data (Replace with your actual dataset)
np.random.seed(42)
data_size = 100
X = np.random.rand(data_size, len(feature_names))
y = np.random.randint(0, 2, data_size)

# Convert to DataFrame for convenience
df = pd.DataFrame(X, columns=feature_names)
df['target'] = y

# Split data into features and target
X = df[feature_names]
y = df['target']

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train the model
model = SVC(kernel='linear')  # You can switch to LogisticRegression() if needed
model.fit(X_train_scaled, y_train)

# Predictions and Evaluation
y_pred = model.predict(X_test_scaled)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

# ... (rest of your code) ...

Accuracy: 0.6
Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.42      0.56        12
           1       0.50      0.88      0.64         8

    accuracy                           0.60        20
   macro avg       0.67      0.65      0.60        20
weighted avg       0.70      0.60      0.59        20

In [41]:
import pickle
filename = 'heart_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [42]:
import pickle
filename = 'heart_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [43]:
loaded_model = pickle.load(open('heart_disease.sav', 'rb'))

FileNotFoundError: [Errno 2] No such file or directory: 'heart_disease.sav'

In [ ]:
import pickle

model = ...  # Your trained model

absolute_path = r"C:\Users\dell\training_models\heart_model.sav"  # Raw string recommended on Windows
with open(absolute_path, "wb") as f:
    pickle.dump(model, f)

# To load:
with open(absolute_path, "rb") as f:
    loaded_model = pickle.load(f)

In [ ]:
import os

directory = 'training_models'  # Or whatever directory your file is in
filename = 'heart_model.sav'
filepath = os.path.join(os.getcwd(), directory, filename)  # Safe path construction
print(filepath)

c:\Users\dell\Downloads\third year units\training_models\training_models\heart_model.sav

In [ ]:
import pickle
import numpy as np

# Load the model
try:
    with open('heart_disease_model.pkl', 'rb') as file:
        heart_disease_model = pickle.load(file)
except FileNotFoundError:
    st.error("Model file not found. Ensure 'heart_disease_model.pkl' is in the correct directory.")

NameError: name 'st' is not defined

In [ ]:
import os
import streamlit as st
st.write(os.path.exists(r"C:\Users\dell\training_models\heart_model.sav"))

2025-02-22 19:22:16.837 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.838 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.839 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.841 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
try:
    model_path = r"C:\Users\dell\training_models\heart_model.sav"
    st.write(f"Loading model from: {model_path}")
    heart_disease_model = pickle.load(open(model_path, 'rb'))
    st.write(type(heart_disease_model))
except FileNotFoundError:
    st.error("Heart disease model file not found. Please check the path.")
except Exception as e:
    st.error(f"Error loading heart disease model: {e}")

2025-02-22 19:22:16.861 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.862 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.864 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.865 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.906 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.908 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
import os
import streamlit as st
st.write(os.listdir(r"C:\Users\dell\training_models"))

2025-02-22 19:22:16.927 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-22 19:22:16.929 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.